name: Check gRPC Server

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: |
          yarn
          yarn build

      - name: Start gRPC
        run: yarn start:server

      - name: UnaryCall
        run: start:client --unary
